*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}
/*
table{
    width: 900px;
    margin: 0 auto;
    border-collapse: collapse;

}
table tr td{
    border: 3px solid #000;
    vertical-align: middle;
    height: 300px;
    background-color: rgb(200, 200, 200);
}
*/

.menu-fixed{
    position: fixed;        /* Fixa o elemento na tela */
    /* position: relative;     /* Volta o elemento para a posição original */
    /* position: absolute;     /* Fixa o elemento em relação ao elemento pai */
    
    width: 100%;            /* Largura total */
    height: 200px;          /* Altura */
    background: #333;       /* Cor de fundo */

}
.box{
    margin-top: 181px;      /* Margem superior para não sobrepor o menu */
    width: 100%;            /* Largura total */
    height: 140px;          /* Altura */
    background: green;      
    color: black;       /* Cor do texto */
}
p{
    color: black;       /* Cor do texto */



}