*{
    margin: 0;
    padding: 0;
}

h1tml, body{
    height: 100%;
}

.center{
    box-sizing: border-box;     /*inclui a borda e o padding no tamanho do elemento*/  
    width:1280px;     /*largura do container*/
    margin: 0 auto;     /*centraliza o container*/
    background-color: brown;
}
.artigo{
    box-sizing: border-box;    /*inclui a borda e o padding no tamanho do elemento*/
    border: 4px solid rgba(0, 0, 0, 1);    /*borda de 4px preta*/
    vertical-align: top;     /*alinha o elemento no topo*/
    display: inline-block;   /*alinha os elementos em linha*/
    margin: 10px 10px;  /*margem de 10px em cima e em baixo e 10px na direita e na esquerda*/
    display: inline-block;   /*alinha os elementos em linha*/
    width: 600px;    /*largura do artigo*/


} 