*{
    margin: 0; /*margem*/
    padding: 0; /*preenchimento*/
}

html, body{ /*seleciona o html e o body*/
    height: 100%; /*altura do elemento*/
}

.Tipo1{
    color: rgb(0, 0, 255);
}

.link_{ /*classe link_*/
    font-size: 30px;
}

.Tipo2{ /*classe Tipo2, sendo usado dessa forma, prevalece a especificacao que vem por ultimo, para mudar, teria que especificar mais a determinacao da classe no CSS*/
    font-size: 50px;
}